.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(24, 24, 24);
    margin-bottom: 20px;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow-x: hidden;
}

.nav-bar-brand img {
    padding: 0 30px;
    width: 160px;
}

.nav-bar-links {
    display: flex;
    flex-direction: row;
    gap: min(60px, 5vw);
    padding: 0 60px 0 0;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.nav-bar-links a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 132, 0);
    font-weight: 500;
    padding: 0 5px 10px 0px; 
    border-radius: 8%;
    border-bottom: transparent 2px solid;
    transition: border-color 0.25s ease;
}

.nav-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.nav-link.active {
    border-bottom: rgba(255, 132, 0, 0.9) 2px solid;
    transition: border-color 0.25s ease;
}

@media (max-width: 790px) {
  .nav-bar {
    padding: 0;
    width: 100vw;
  }
  .nav-bar-brand img {
    padding-left: min(7vw, 18px);
    padding-right: min(6vw, 20px);
    width: min(25vw, 160px);
  }
  .nav-bar-links a{
    font-size: min(3.8vw, 18px);
  }
}