.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(24, 24, 24);
    margin-bottom: 20px;
    width: 100vw;
}

.nav-bar-brand img {
    padding: 0 30px;
}

.nav-bar-links {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 0 60px;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.nav-bar-links a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 132, 0);
    font-weight: 500;
    padding: 0;
}

.nav-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
